<!-- <div *ngIf="mostrar == false">
  <h5 class="card-title">Loading</h5>
</div>


<div >
    <div class="card" style="width: 18rem;">
    <img [src]="" class="card-img-top" alt="...">   img club -->
<!--     <h5 class="card-title">{{cadena.club.}}</h5>      nombre club -->
<!-- </div>

<div *ngIf="mostrar == true">    falta segunda parte de json -->
  <!-- <div class="card" style="width: 18rem;">
  <img [src]="" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{jug.nombre}}</h5>     nombre jugador -->
    <!-- <p class="card-text">{{jug.edad}}</p>
  </div>
</div>
<div>   --> 

<!-- Lista jugadores del club -->
<!-- <div class="card" style="width: 18rem;" *ngFor = "let jug of cadena.">    falta segunda parte de json -->
  <!-- <img [src]="" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{jug.nombre}}</h5>   -->  <!-- nombre jugador -->
    <!-- <p class="card-text">{{jug.edad}}</p>
  </div>
</div> -->

    
<a [routerLink]="['/disponibles']" class="btn btn-primary">Fichar Nuevos Jugadores</a>
