<!-- <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="button" (click)="setUserID(user.id)" class="btn btn-primary">Log in</button>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<p>
  home works!
</p>
